@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800);

@font-face {
  font-family: Gotham;
  src: url("../fonts/gotham-medium.otf") format("opentype");
}

@font-face {
  font-family: Gotham light;
  src: url("../fonts/gotham-light.otf") format("opentype");
}