
//
// Official Scss Port created by Joe Richardson (dope)
// Feel free to contribute.
//


*,
*:before,
*:after  {
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
}


 // Set the width of the grid
 .frame {
  margin: 0 auto;

  // clearfix
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

 // Attribute selector
 [class*='col-'] {
  float: left;
  padding: $col-padding;

  &:last-child {
    float: right;
  }
}

// Create grid widths
@for $i from $start through $end {
  .col-#{$i} {
    width: $full / $i;
  }
}

@media (max-width: $small) {
  @for $i from $start through $end {
    .col-#{$i} {
      width: $full
    }
  }
}

@media (min-width: $small) and (max-width: $medium) {
  .col-4,
  .col-6,
  .col-8,
  .col-10,
  .col-12 {
    width: $half;
  }

  .col-1,
  .col-2,
  .col-3,
  .col-5,
  .col-7,
  .col-9,
  .col-11 {
    width: $full;
  }
}

@media (min-width: $medium) and (max-width: $large) {
  .col-2,
  .col-7 {
    width: $full;
  }

  .col-4,
  .col-8,
  .col-10,
  .col-12 {
    width: $half;
  }
}