body{
 //background-color: $body-bg-color;
 background-image: linear-gradient(to right, $body-bg-color, darken($body-bg-color, 15) 25%);

  .site-header {
    background-color: $header-bg-color;
    height: 200px;
    @include bp(medium) {
      height:100px;
    }
    .header-wrap{
      line-height: 100px;

      .site-title{
        text-align: center;
        float:left;
        width:20%;
        margin:0;
        margin-top:50px;
        @include bp(medium) {
          margin-top:0;
          padding-left:40px;
        }
        @include bp(small){
          padding-left:15px;
        }
      }

      .site-headline{
        float:left;
        margin-left:55px;
        @include bp(small){
          margin-left:10px;
        }
      }
    }
  }

  .site-sidebar{
    padding-top:25px;
    width:20%;
    float:left;
    display:block;
    position:relative;

    @include bp(medium) {
      width:100%;
      padding: 0 40px;
      background-color:darken($body-bg-color, 15);
    }
    @include bp(small) {
      padding: 0 15px;
    }


    .site-nav ul{
      margin-bottom: 15px;
      @include bp(medium) {
        margin-bottom:0;
        float:left;
      }
    }

    .site-nav ul li {
      padding-right:20px;
      border-bottom: 1px solid $body-bg-color;
      height:60px;
      &:first-of-type {
        border-top: 1px solid $body-bg-color;
      }
      @include bp(medium) {
        border-bottom:0;
        padding: 0 10px;

        &:first-of-type{
          border-top:0;
        }
      }
      @include bp(small) {
        height:30px;
      }
    }

    .site-nav ul li:hover{
      background-image: linear-gradient(to right, $body-bg-color, $header-bg-color);
      @include bp(medium) {
        background-image: linear-gradient(to bottom, darken($body-bg-color, 15) 5%, $header-bg-color, darken($body-bg-color, 15) 95%);
      }
    }

    .site-footer{
      float:right;
      ul{
        li{
          float:left;
          margin-right:20px;
          @include bp(big) {
            margin-right:15px;
          }
          @include bp(medium) {
            margin-right:20px;
          }
          .icon{
            position:relative;
            display:block;
            @include bp(medium) {
              margin-top:15px;
            }
            @include bp(small) {
              margin-top:0;
            }
            svg{
              width:30px;
              height:30px;
              @include bp(big) {
                width:25px;
              }
              @include bp(medium) {
                width:20px;
              }
              @include bp(small) {
                width:15px;
              }
            }
            svg path{
              fill:white;
            }
          }

          @include bp(medium) {
            &:last-of-type {
              margin-right:0;
            }
          }
        }
      }
    }
  }

  .site-article{
    background-color:$articles-bg-color;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.4);
    margin-top:-100px;
    width:80%;
    float:right;
    padding:55px 55px;

    @include bp(medium) {
      width:100%;
      margin-top:0;
      padding: 55px 40px;
    }
    @include bp(small) {
      padding: 25px 15px;
    }

    article{
      background-color:$article-bg-color;

      & + article{
        margin-top:55px;
      }

      .article-meta{
        margin-bottom:10px;
      }

      .article-title{
        margin-top:0;
        margin-bottom:5px;
      }

      .article-content{
        margin-top:20px;
      }
    }

    .article-share{
      width:100%;
      background-color:#EC4481;
      margin-top: 40px;
      span{
        margin-left:15px;
        float:left;
      }
      ul{
        display:inline-block;
        padding:0 15px;
        li{
          float:left;
          margin-right:20px;
        }
      }
    }
    #disqus_thread{
      padding:0 15px;
    }
  }


}
