body{
  background-color: $body-bg-color;

  .site-header {
    background-color: $header-bg-color;
    font-family: 'Gotham', sans-serif;
    .header-wrap{
      .site-title{
        float:left;
        font-size:$site-title-size;
        padding:5px 15px;
        margin:0;
        a{
          color:white;
          text-decoration: none;
          .light{
            font-size:0.60em;
            color:#1EF2D6;
          }
        }
      }
      .site-nav{
        padding:5px 15px;
        padding-right:40px;
        font-family: 'Gotham light', sans-serif;
        ul{

          .toggle-sidebar{
            margin-top:20px;
            hr{
              width:20px;
              border:0;
              border-radius:2px;
              background-color:white;
              height:3px;
              margin:0;
              padding:0;
              margin-bottom:4px;
            }
          }
          li{
            float:left;
            list-style-type: none;
            a{
              font-size:$site-nav-size;
              text-decoration: none;
              color:white;
            }
          }
        }
      }
    }
  }

  .site-sidebar{
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
    background-color:$sidebar-bg-color;
    color:white;
    padding-top:25px;
    padding-left:16px;
    padding-right:40px;
    .site-description{
      font-size:$site-description-size;
    }
    hr{
      height:2px;
      background-color:white;
      border:0;
      margin:20px 0;
    }
    .site-footer{
      ul{
        li{
          float:left;
          margin-right:20px;
          .icon{
            position:relative;
            svg{
              width:30px;
              height:30px;
            }
            svg path{
              fill:white;
            }
          }
          list-style-type: none;
        }
      }
    }
  }
  
  #sb-site.site-article{
    background-color:$articles-bg-color;

    article{
      background-color:$article-bg-color;
      padding: 15px;

      & + article{
        margin-top:20px;
      }

      .article-meta{
        font-size:$article-meta-size;
        font-family: 'Open sans', sans-serif;
        font-weight: 300;
        color: #C4C2C2;
        margin-bottom:10px;
      }

      .article-title{
        font-size:$article-title-size;
        font-family: 'Gotham', sans-serif;
        font-weight: 800;
        margin-bottom:10px;
        a{
          text-decoration: none;
          color: #333;
        }
      }

      .article-content{
        font-size:$article-content-size;
        font-family: 'Open sans', sans-serif;
        color:#555;

        p{
          margin-bottom:15px;
        }
        a{
          text-decoration: none;
          color: #4496DE;
        }
      }
    }
  }


}