/*==========  Mobile First Method  ==========*/

  /* Custom, iPhone Retina */
  @media only screen and (min-width : 320px) {

    .header-wrap{
      .site-title{
        width:100%;
        text-align: center;
        margin:15px 0;
        font-size:40px;
      }
      .site-nav{
        line-height:20px;
        width:100%;
        float:left;
        ul{
          .toggle-sidebar{
            display:block;
          }
          float:left;
          li{
            padding-right:20px;
            a{
              font-size:16px;
            }
          }
        }
      }
    }

    #sb-site.site-article{
      padding:25px 15px;
      article{
        font-size: 14px;
      }
    }

  }

  /* Extra Small Devices, Phones */
  @media only screen and (min-width : 480px) {

    .header-wrap{
      .site-title{
        font-size:50px;
      }
      .site-nav{
        ul{
          li{
            a{
              font-size:20px;
            }
          }
        }
      }
    }

    #sb-site.site-article{
      width:100%;
      padding:25px 40px;
      article{
        font-size:16px;
      }
    }

  }

  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {

    .header-wrap{
      line-height: 100px;
      .site-title{
        width:35%;
        text-align: left;
        margin:0;
      }
      .site-nav{
        width:65%;
        float:right;
        line-height:100px;
        ul{
          .toggle-sidebar{
            display:none;
          }
          float:right;
          li{
            padding-right:0px;
            padding-left:20px;
          }
        }
      }
    }

    .site-sidebar{
      width:35%;
      float:left;
      display:block;
      position:relative;
    }

    #sb-site.site-article{
      width:65%;
      float:right;
      padding:25px 40px;

      article{
        font-size:18px;
      }
    }

  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {

  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 1200px) {

  }
