$wrap-max-width: 1200px;

$body-bg-color: #6F6F6F;

/** HEADER **/
$header-bg-color: #3693F6;

$site-title-size: 55px;
$site-nav-size: 20px;

/** SIDEBAR **/

$sidebar-bg-color: #6F6F6F;

$site-description-size: 16px;
$site-footer-size: 16px;

/** ARTICLES **/

$articles-bg-color: #DDDCDC;
$article-bg-color: white;

$article-meta-size: 15px;
$article-title-size: 30px;
$article-content-size: 18px;