---
layout: default
---
<div id="sb-site" class="site-article">

  <article>
    <p class="article-meta">{{ page.date | date: "%-d %B %Y " }}</p>
    <h1 class="article-title">{{ page.title }}</h1>
    <section class="article-content">
      {{ content }}
    </section>
  </article>
  <section class="article-share">
    <span>Condividi:</span>
    <ul>
      <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://www.rklab.it{{ page.url }}&display=popup&appId=656373374447432">Facebook</a></li>
      <li><a href="http://www.twitter.com/intent/tweet?url=http://www.rklab.it{{ page.url }}&text={{ page.description }}">Twitter</a></li>
      <li><a href="https://plus.google.com/share?url=http://www.rklab.it{{ page.url }}">Google+</a></li>
    </ul>
  </section>
  <div id="disqus_thread"></div>
</div>